:root{
    --rosa:#f43cdb;
    --azul:#167bf7;
    --azul-claro:#138ad2;
    --branco:#ffffff;
}

body{
    background-color: var(--branco);
    color: var(--azul);
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__botao{
    background-color: #167bf7;
    border-radius: 5px;
    padding: 1em;
    color: var(--branco);
    display: block;
}
