:root{
    --rosa:#f43cdb;
    --azul:#167bf7;
    --azul-claro:#138ad2;
    --branco:#ffffff;
    --fonte-principal:'Jacquard 24';
}

body{
    background-color: var(--branco);
    color: var(--azul);
    font-family: var(--fonte-principal);
    font-size: 30px;
    font-weight: 400;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__botao{
    background-color: #167bf7;
    border-radius: 5px;
    padding: 1em;
    color: var(--branco);
    display: block;
    text-decoration: none;
    margin: 0em 0 1em 0;
}
.botao__secundario{
    background-color: transparent;
    border: 2px solid var(--branco);
}
.container_imagem{
    margin: 1em 0 2em 0;
}
.container_caixa{
    margin: 0 5em;
}